.mainThree {
	background-image: url(../img/vecteezy_artificial-grass-texture-banner_3086563.jpg);
	background-repeat: no-repeat;
	background-size: 100% 350px;
	height: 250px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: row wrap;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	grid-area: mainThree;
	p {
		.leftMain {
			width: 25px;
			height: 25px;
			background-color: $background-color_1;
			border: 1px solid black;
			cursor: pointer;
			border-radius: 50%;
		}
		.rightMain {
			width: 25px;
			height: 25px;
			background-color: $background-color_1;
			border: 1px solid black;
			cursor: pointer;
			border-radius: 50%;
		}
	}
	.photoOne {
		width: 200px;
		height: 150px;
		border: 1px solid black;
		border-radius: 25%;
		display: flex;
		background-image: url(../img/erda-estremera-JBrbzg5N7Go-unsplash.jpg);
		background-size: 200px 150px;
		background-repeat: no-repeat;
		justify-content: center;
		align-items: flex-end;
		a {
			color: $color_3;
			font-size: 0.5rem;
			text-decoration: none;
			border: 1px solid black;
			background-color: $background-color_1;
			border-radius: 25%;
			padding: 0px 5px;
		}
	}
	.photoTwo {
		width: 200px;
		height: 150px;
		border: 1px solid black;
		border-radius: 25%;
		display: flex;
		background-image: url(../img/milli-2l0CWTpcChI-unsplash.jpg);
		background-size: 200px 150px;
		background-repeat: no-repeat;
		justify-content: center;
		align-items: flex-end;
		a {
			color: $color_3;
			font-size: 0.5rem;
			text-decoration: none;
			border: 1px solid black;
			background-color: $background-color_1;
			border-radius: 25%;
			padding: 0px 5px;
		}
	}
	.photoThree {
		width: 200px;
		height: 150px;
		border: 1px solid black;
		border-radius: 25%;
		display: flex;
		background-image: url(../img/baptist-standaert-mx0DEnfYxic-unsplash.jpg);
		background-size: 200px 150px;
		background-repeat: no-repeat;
		justify-content: center;
		align-items: flex-end;
		a {
			color: $color_3;
			font-size: 0.5rem;
			text-decoration: none;
			border: 1px solid black;
			background-color: $background-color_1;
			border-radius: 25%;
			padding: 0px 5px;
		}
	}
	.photoFour {
		width: 200px;
		height: 150px;
		border: 1px solid black;
		border-radius: 25%;
		display: flex;
		background-image: url(../img/camylla-battani-AoqgGAqrLpU-unsplash.jpg);
		background-size: 200px 150px;
		background-repeat: no-repeat;
		justify-content: center;
		align-items: flex-end;
		a {
			color: $color_3;
			font-size: 0.5rem;
			text-decoration: none;
			border: 1px solid black;
			background-color: $background-color_1;
			border-radius: 25%;
			padding: 0px 5px;
		}
	}
}
.mainFour {
	background-image: url(../img/Presentation1.png);
	background-repeat: no-repeat;
	background-size: 100% 500px;
	height: 600px;
	text-align: center;
	grid-area: mainFour;
	.mainFourtx1 {
		font-size: 2rem;
		padding-top: 40px;
	}
	.mainFourtx2 {
		font-size: 1.2rem;
	}
	.mainFourAProcess {
		display: flex;
		justify-content: center;
		gap: 50px;
		align-items: center;
		margin-top: 50px;
		div {
			ul {
				li {
                    list-style: none;
                    width: 150px;
                    height: 35px;
                    text-align: center;
                    padding: 25px 0px;
					.one {
						width: 25px;
						height: 25px;
						text-align: center;
					}
					.two {
						width: 25px;
						height: 25px;
						text-align: center;
					}
					.three {
						width: 25px;
						height: 25px;
						text-align: center;
					}
					.four {
						width: 25px;
						height: 25px;
						text-align: center;
					}
					.search {
						width: 50px;
						height: 50px;
						text-align: center;
					}
					.adoptform {
						width: 50px;
						height: 50px;
						text-align: center;
					}
					.meet {
						width: 50px;
						height: 50px;
						text-align: center;
					}
					.dog {
						width: 50px;
						height: 50px;
						text-align: center;
					}
					.listYellow {
						color: $color_4;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	.mainFourbutton {
		margin: 100px;
		a {
			text-decoration: none;
			color: $color_3;
			background-color: $background-color_1;
			border-radius: 5px;
			border: 1px solid black;
			padding: 5px 25px;
			cursor: pointer;
			font-size: 1.2rem;
            transition: all 1s;
            &:hover{
                font-size: 1.4rem;
                background: radial-gradient($background-color_1, #ffe99a);
            }
		}
	}
}

.mainFive {
	background-image: url(../img/Presentation2.png);
	background-repeat: no-repeat;
	background-size: 100% 800px;
	height: 800px;
	text-align: center;
	grid-area: mainFive;
	p {
		.volunteer {
			width: 50px;
			height: 50px;
		}
	}
	.mainFivetx1 {
		font-size: 2rem;
	}
	.mainFivetx2 {
		font-size: 1.2rem;
	}
	.mainFiveVolunteer {
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			display: inline-block;
			.volunteeringImg {
				width: 500px;
				height: 350px;
				padding-top: 50px;
				padding-left: 50px;
				padding-right: 50px;
			}
		}
		.volTx1 {
			text-align: justify;
			font-size: 1rem;
			width: 150px;
		}
		.volTx2 {
			text-align: justify;
			font-size: 1rem;
			width: 150px;
		}
    }
		.mainFivetx3 {
			font-size: 1.2rem;
			margin: 15px;
		}
		.mainFivebutton {
			margin: 15px;
			a {
				text-decoration: none;
				color: $color_3;
				background-color: $background-color_1;
				border-radius: 5px;
				border: 1px solid black;
				padding: 5px 15px;
				cursor: pointer;
				font-size: 1.2rem;
                transition: all 1.5s;
                &:hover{
                    font-size: 1.4rem;
                    background: radial-gradient($background-color_1, #ffe99a);
                }
			}
		}
	
}
