$color_1: rgba(255, 255, 255, 0.858);
$background-color_1: rgb(238, 216, 124);
$color_2: rgb(236, 203, 71);
$color_3: black;
$color_4: rgb(238, 216, 124);
$color_5: white;
$background-color_2: rgb(31, 31, 31);